.inscricao .wp-block-button__link{
    padding-right:50px;
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content:center;
    position:relative;
}
.inscricao .wp-block-button__link::after{
    content:'';
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7999 9.99999C17.7999 14.3087 14.3087 17.8 9.9999 17.8C5.69115 17.8 2.1999 14.3087 2.1999 9.99999C2.1999 5.69124 5.69115 2.19999 9.9999 2.19999C14.3087 2.19999 17.7999 5.69124 17.7999 9.99999ZM0.399902 9.99999C0.399902 15.3025 4.6974 19.6 9.9999 19.6C15.3024 19.6 19.5999 15.3025 19.5999 9.99999C19.5999 4.69749 15.3024 0.399994 9.9999 0.399994C4.6974 0.399994 0.399902 4.69749 0.399902 9.99999ZM9.4374 14.5375L13.3374 10.6375C13.6899 10.285 13.6899 9.71499 13.3374 9.36624L9.4374 5.46249C9.0849 5.10999 8.5149 5.10999 8.16615 5.46249C7.8174 5.81499 7.81365 6.38499 8.16615 6.73374L11.4287 9.99624L8.16615 13.2587C7.81365 13.6112 7.81365 14.1812 8.16615 14.53C8.51865 14.8787 9.08865 14.8825 9.4374 14.53V14.5375Z' fill='white'/%3E%3C/svg%3E");
    background-size:contain;
    display:flex;
    position:absolute;
    right:15px;
    width:20px;
    height:20px;
}
header:has(>.is-position-sticky) {
    position: sticky;
    top: calc(0px + var(--wp-admin--admin-bar--height, 0px));
    z-index: 100;
}
@media(min-width:600px){
    .mobile-visible{
        visibility: hidden;
        display:none;
    }
    .mobile-hidden{
        visibility: visible;
    }
}
@media(max-width:599px){
    .mobile-visible{
        visibility: visible;
    }
    .mobile-hidden{
        visibility: hidden;
        display:none;
    }
}
.wp-block-cover.brilho-4 img{
    filter: brightness(40%);
}
/* Adiciona estilos básicos para inputs */
input {
	font-family: inherit;
	padding: 1em;
}

table.tix_tickets_table {
	border: 1px solid;
	border-radius: 4px;
	border-spacing: 0;
	font-size: var(--wp--preset--font-size--medium);
	margin-bottom: 1em;
	text-align: left;
	width: 100%;
}

/* Estiliza o cabeçalho das tabelas */
.tix-order-summary thead tr:first-child th,
.tix_tickets_table.tix-attendee-form tbody tr:first-child th,
.tix_tickets_table thead th {
	background: var(--wp--preset--color--accent-5);
	color: #fff;
	padding: 1em;
	text-align: left;
}

/* Garante que todo cabeçalho esteja em negrito */
.tix-tickets-list thead .tix-column-description {
	font-weight: bold;
}

/* Alterna cores entre linhas da tabela */
.tix_tickets_table tr:nth-child(odd) {
	background: rgba(255,255,255, 0.8);
}

/* Estiliza a descrição de cada ingresso */
span.tix-ticket-excerpt {
	font-size: .875em;
}

.tix_tickets_table td,
.tix_tickets_table th {
	padding: 1em;
}

.tix_tickets_table td input {
	font-family: inherit;
	padding: 1em;
}

.tix_tickets_table td select {
	width: 70%;
	padding: 1em;
}

.tix_tickets_table fieldset label {
	display: inline-block;
	margin-bottom: .25em;
}

/* Adiciona cursor para checkboxes */
.tix_tickets_table fieldset label:hover,
.tix_tickets_table input[type="checkbox"] + label:hover {
	cursor: pointer;
}

/* Altera padrão dos botões */
#tix .tix-submit .tix-checkout-button,
#tix input[type="submit"] {
	background: var(--wp--preset--color--accent-1);
	border: 0;
	border-radius: 4px;
	color: var(--wp--preset--color--base);
	font-size: inherit;
	letter-spacing: 0;
	padding: 15px 23px;
	text-transform: none;
}

/* Esconde abas de pagamento acima do botão "Finalizar compra" */
.tix-payment-method .tix-payment-tab {
	display: none;
}

/* Altera visual dos avisos de ingressos */
#tix .tix-error,
#tix .tix-notice,
#tix .tix-info {
	padding: 16px;
	border-radius: 4px;
}

/* Finalizar compra: Adiciona aviso de formas de pagamento próximo ao botão */
#tix .tix-submit:after {
    content: "Opções: cartão de crédito, boleto e Google Pay (com suporte a Pix)";
    display: inline-block;
    font-size: .875em;
    margin-top: 1em;
    width: 50%;
}

/* Ingresso comprado: Estilos da tabela */ 
.tix-ticket-form {
	border: 1px solid;
	border-radius: 4px;
	border-spacing: 0;
	margin-bottom: 3em;
	width: 100%;
}

.tix-ticket-form thead {
	background: var(--wp--preset--color--accent-5);
	color: #fff;
}
    
.tix-ticket-form td,
.tix-ticket-form th {
	padding: 1em;
}
    
.tix-ticket-form a {
    font-size: 0.875em;
}
/* Fim -- Ingresso comprado: Estilos da tabela */
